@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

html,body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(11, 0, 0); 
}

.background-img {
  background-color: rgb(175, 198, 219);
  color: rgb(0, 0, 0);
  background-image: url(roche.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.home-header{
  padding-top: 0.5vh;
  font-size: 120px;
  font-family: 'Staatliches';
  color: black;
}

.home-subtitle{
  
  padding-top: 60vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
nav {
  background-color: black;
  width: 100%;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul > li {
  display: inline-block;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
}

nav ul > li > a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%; /* Das Dropdown-Menü wird zu 50% der Breite des Elternelements verschoben */
  transform: translateX(-50%); /* Um es horizontal zu zentrieren */
  width: 100%; /* Dropdown-Menü auf volle Breite einstellen */
  background-color: rgba(0, 0, 0, 0.7);
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}


main {
  padding: 20px 50px;;
}

.text-overview{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
  padding: 10px;
  width: 400px;
  height: 250px;
  margin: auto; 
  display: block; 
}

.picturetower {
  width: auto;
  height: 150px;
  padding: 5px;
}

.picturebasel {
  width: auto;
  height: 250px;
  padding: 10px;
  border: 5px solid rgb(0, 0, 0);
}

.Geschichte_body{
  margin: 0;
  padding: 0;
  background-color: rgb(157, 186, 211);
  color: rgb(11, 0, 0); 
}

body {
  font-family: Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  transition: transform 0.3s;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #000000;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}



.text_geschichte {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}


.Expansion_body{
  margin: 0;
  padding: 0;
  background-color: rgb(157, 186, 211);
  color: rgb(11, 0, 0); 
}

.prezi-container {
  text-align: center; /* Zentriert das Element horizontal */
  margin-top: 50px; /* Platz oberhalb des Elements */
}
#iframe_container {
  width: 1000px; 
  height: 500px; 
}

.Probleme_body{
  margin: 0;
  padding: 0;
  background-color: rgb(157, 186, 211);
  color: rgb(11, 0, 0); 
}

.Basel_body{
  margin: 0;
  padding: 0;
  background-color: rgb(157, 186, 211);
  color: rgb(11, 0, 0); 
}

.Vielfältigkeit_body{
  margin: 0;
  padding: 0;
  background-color: rgb(157, 186, 211);
  color: rgb(11, 0, 0); 
}

.Quellen_body{
  margin: 0;
  padding: 0;
  background-color: rgb(157, 186, 211);
  color: rgb(11, 0, 0); 
}

.fritz {
  width: auto;
  height: 250px;
  padding: 10px;
  border: 5px solid rgb(0, 0, 0);
}

.Unterseite1 {
  background-color: transparent;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.einleitung {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1px;
  box-sizing: border-box;
}

.text {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.unterseite-text p {
  color: #333;
  font-size: 18px;
  line-height: 1.6;
}

.image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.portrait img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.bild-beschreibung {
  font-style: italic;
  color: #000000;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align:center;
}

.einleitung2{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1px;
  box-sizing: border-box;
}

.airol-sirolinimg{
  display:flex;
}

.pictura-s {
  width: auto;
  height: 250px;
  padding: 10px;
  
}

.airol-sirolinimg {
  display: flex;
  justify-content: space-between; 
}

.bild-s-a{
  margin-right: 20px; 
}

.bild-s-a img {
  width: 60%; 
  height: auto; 
  border: 5px solid rgb(23, 6, 99);
}

.grab{
  margin-right: 20px; 
}

.grab img  {
  width: 30%; 
  height: 55%; 
  border: 5px solid rgb(23, 6, 99);
}

.vertrag img {
  max-width: 60%;
  height: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}


.body_g_hintergrund{
  background-image: url("vintage.webp");
  background-attachment: fixed;
  background-size: cover;
}

.expansion-h1 {
 text-align: center;
}





